# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django related
*.log
*.pot
*.pyc
db.sqlite3
media
/static/
*.pyc
*.pyo

# Secret key
*.secret_key

# Local development settings
local_settings.py

# Virtual environment
venv/

# Environment variables
.env

# IDE files
.idea
.vscode
